{% extends "base.html" %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>
                            <span class="auto-type">
                                About Me
                            </span>
                        </h1>
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed(".auto-type", {
            strings: ["About Me"],
            typeSpeed: 200,
            loop: false
        })
    </script>

<!--    &lt;!&ndash; Page Header&ndash;&gt;-->
<!--    <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">-->
<!--        <div class="container position-relative px-4 px-lg-5">-->
<!--            <div class="row gx-4 gx-lg-5 justify-content-center">-->
<!--                <div class="col-md-10 col-lg-8 col-xl-7">-->
<!--                    <div class="page-heading">-->
<!--                        <h1>About Me</h1>-->
<!--                        <span class="subheading">This is what I do.</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>I've fallen head over heels for backend development, and this blog is my way of spreading that love! Programming and development are not just my job; they're my lifelong passion, and I want to share that excitement with fellow tech enthusiasts like you 🚀</p>
                    <p>What fuels my passion for development is the ability to create solutions that make a positive impact on people's lives. I thrive on challenges and love finding innovative ways to solve problems. Whether it's a personal project or a collaborative venture, I'm always eager to push the boundaries. 📚</p>
                    <p>Sharing knowledge is a powerful act that fosters growth and collaboration within any community. By openly sharing our expertise and experiences, we empower others to learn, innovate, and expand their horizons in their respective fields. As we pass on our knowledge, we not only contribute to the collective wisdom but also inspire a culture of continuous learning and development. Together, through this exchange of knowledge, we can uplift and elevate the entire community, making a positive impact that extends far beyond individual achievements. 🗺️</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
