{% extends "base.html" %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>
                            <span class="auto-type">
                                vintila.dev
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <main class="main-content">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <form method="POST">
                    <div class="form-floating mb-3">
                      {{ form.title(class="form-control form-control-lg", placeholder=" ") }}
                      <label>Post Title</label>
                    </div>
                    <div class="form-floating">
                      {{ form.content(class="form-control form-control-lg", placeholder=" ") }}
                      <label>Post Body</label>
                    </div>
                    <div class="mt-3">
                      {{ form.submit(class="btn btn-primary btn-lg") }}
                    </div>
<!--                    <div class="form-floating mb-3">-->
<!--                      <input type="text" class="form-control form-control-lg" id="post-title" placeholder=" ">-->
<!--                      <label for="post-title">Post Title</label>-->
<!--                    </div>-->
<!--                    <div class="form-floating" height="600">-->
<!--                      <textarea class="form-control form-control-lg" id="post-body" style="height: 200px" placeholder=" "></textarea>-->
<!--                      <label for="post-body">Post Body</label>-->
<!--                    </div>-->
<!--                    <div class="mt-3">-->
<!--                      <button type="submit" class="btn btn-primary btn-lg">Submit</button>-->
<!--                    </div>-->
<!--                    <div class="form-floating mb-3">-->
<!--                      {{ form.hidden_tag() }}-->

<!--                      {{ form.title.label(class="form-control form-control-lg") }}-->

<!--                      {{ form.title(class="form-control form-control-lg") }}-->
<!--                      <br/>-->
<!--                      {{ form.content(class="form-control form-control-lg") }}-->
<!--                      <br/>-->
<!--                      {{ form.submit(class="btn btn-primary btn-lg") }}-->
<!--                    </div>-->
                  </form>
                </div>
              </div>
            </div>
          </main>
{% endblock %}
